.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  margin: 0 auto;
}

.gradientText0 {
  background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText1 {
  background: -webkit-linear-gradient(#a79af9, #7aa8d2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText2 {
  background: -webkit-linear-gradient(#bfa3da, #743f93);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText3 {
  background: -webkit-linear-gradient(#c35ab1, #e9a8d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  text-decoration-color: #84309c;
}

.title {
  line-height: 1.15;
  font-size: 3.5rem;
}

.title,
.description {
  text-align: left;
}

.connect {
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: end;
}

.description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #555;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.1rem;
}

.grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #131313;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 440px;
  overflow: none;
  border: none;
}

.cardText {
  padding: 1rem;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
  margin-bottom: 12px;
  border: none;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #272c34;
  opacity: 80%;
}

.card h2 {
  margin: 0 0 0.75rem 0;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .header {
    margin-left: 0;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .title {
    font-size: 3rem;
    line-height: 1.15;
  }
}

.header {
 
  display: flex;
  
  
}

.leftSide{
  width: 70%;
}

.rightSide{
  background-color: white;
  
  color: black;
  margin: 5rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  font-weight: bold;
  border-width: 15px;
  border-style: solid;
  border-color: green;
  border-radius: 50px;
  
  max-height: 700px;
  
  background: #E53935;
  align-items: center;
}

.rightSideTittle{
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  font-weight:bold;
  font-size:50px;
}
.rightSideWorld{
  font-family:'Courier New', Courier, monospace;
  margin: 1rem;
  text-align: center;
}

.rightSideWorldClaim{
  font-family:'Courier New', Courier, monospace;
  margin: 1rem;
  font-size: 100%
  
}

.columnpay{
  font-family:'Courier New', Courier, monospace;
  display: flex;
  padding-bottom: 1rem;
  
}

.columnpay div{
  width: 50%;
}

.W3Button{
  align-items: center;
  text-align: center;
}

.inputp{
  border-width: 4px;
  border-style: solid;
  border-color: green;
  border-radius: 5px;
  width: 90%;
  min-height: 35px;

}

.Web3Button{
  border-color: green;
} 






.card,
.footer {
  border-color: #222;
}
.logo img {
  filter: invert(1);
}

.intro{
  background-color: white;
  color: black;
  border-width: 10px;
  border-style: solid;
  border-color: green;
  border-radius: 50px;
  padding: 2rem;
  margin: 1rem;
  width: 60%;
  align-items: center;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
  line-height: 1.5;
  font-size: x-large;
  
}

.introR {
  background-color: white;
  color: black;
  border-width: 10px;
  border-style: solid;
  border-color: green;
  border-radius: 50px;
  
  margin: 1rem auto; /* Center horizontally with 'auto' margins */
  width: 45%;
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  font-size: 140px;
}


.containerIntro{
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.imageIntroL{
  position: absolute;
  left: 0;
  z-index: 1;
  margin-left: 20rem;
}

.imageIntroR{
  position: absolute;
  right: 0;
  z-index: 1;
  margin-right: 20rem;
}

.introT {
  background-color: white;
  color: black;
  border-width: 10px;
  border-style: solid;
  border-color: green;
  border-radius: 50px;
  
  margin: 1rem auto; /* Center horizontally with 'auto' margins */
  width: 80%;
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  font-size: 140px;
}

.descriptionT{
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  -webkit-text-stroke: 0.5px black; /* Grosor y color del borde (compatible con Webkit, como Chrome y Safari) */
  text-stroke: 0.5px black;
}

.imageIntroT{
  margin:auto ;
  width: 60%;

}

.imageT{
  display: flex;
  align-items: center;
}